extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-pigmentgreen Bienes 
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl= page

        if errors
            div.max-w-md.mx-auto.my-10
                each error in errors
                    if error.msg
                        div.bg-redd.text-white.p-4.rounded-md.flex.items-center.justify-between.mb-2
                            p.text-sm.font-bold= error.msg
                            button.ml-2.bg-transparent.border-0.text-white(onclick="this.parentElement.style.display='none'") &times;

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(method="POST" action="/auth/login").space-y-5.px-6
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Email de Registro:
                        input#email.w-full.px-3.py-2.border-2.rounded-md(type="email" placeholder="Ej. usuario@dominio.com" name="correo_usuario")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Contraseña:
                        input#password.w-full.px-3.py-2.border-2.rounded-md(type="password" placeholder="Mínimo de 8 caracteres" name="pass_usuario")
                    div.flex.items-center.justify-between
                        a.text-black.text-xs(href="/auth/createAccount" class="hover:underline") ¿No tienes cuenta? Regístrate
                        a.text-black.text-xs(href="/auth/passwordRecovery" class="hover:underline") Recuperar Contraseña
                    input(class="w-full bg-emerald hover:bg-celadon text-black font-bold py-3 cursor-pointer " type="submit" value="Ingresar")



                    